{% load static %}
<div class="col mx-auto p-2">
    <div class="card cartao-pedido" style="width: 18rem;">
        <div class="card-header d-flex justify-content-between">
            <h5 style="color: red;">Mesa: {{ pedido.numero_mesa }}</h5>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'pedido:editar_pedido' pedido.pk %}" class="dropdown-item">Editar itens</a></li>
                    <li><a href="{% url 'pedido:editar_status' pedido.pk %}" class="dropdown-item">Editar status</a></li>
                    <li><a href="{% url 'pedido:imprimir_cozinha' pedido.pk %}" class="dropdown-item" target="_blank">Imprimir</a></li>
                    <li><a href="{% url 'pedido:fechar_pedido' pedido.pk %}" class="dropdown-item">Fechar pedido</a></li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            {% for item in pedido.itens.all %}
                <p class="card-title">{{ item.quantidade }} | {{ item.item }} </p>
                {% if item.observacao %}
                <blockquote class="blockquote mb-0">
                    <footer class="blockquote-footer card-text-observacao">{{ item.observacao }}</footer>
                </blockquote>
                {% endif %}
            {% endfor %}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ pedido.criado_em }}</li>
          </ul>
    </div>
</div>