{% load static %}
<div class="col mx-auto p-2">
    <div class="card cartao-pedido" style="width: 18rem;">
        <div class="card-header d-flex justify-content-between">
            <h5>Mesa: {{ pedido.numero_mesa }}</h5>
            <h5>Pedido: {{ pedido.pk }}</h5>
        </div>
        <div class="card-body">
            {% if pedido.status %}<p class="card-title">Status: {{ pedido.status }} </p>{% endif %}
            
            {% for item in pedido.itens.all %}
                <p class="card-title">{{ item.quantidade }} | {{ item.item }} </p>
                {% if item.observacao %}
                <blockquote class="blockquote mb-0">
                    <footer class="blockquote-footer card-text-observacao">{{ item.observacao }}</footer>
                </blockquote>
                {% endif %}
            {% endfor %}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ pedido.criado_em }}</li>
            <li class="list-group-item">Total: R$ {{ pedido.valor_total|floatformat:"2" }}</li>
          </ul>
        <div class="card-footer d-flex justify-content-between">
            <a href="#" class="btn btn-primary">Editar itens</a>
            <a href="#" class="btn btn-primary">Fechar pedido</a>
        </div>
    </div>
</div>