{% load static %}
<div class="col mx-auto p-2">
    <div class="card cartao-pedido" style="width: 18rem;">
        <div class="card-header d-flex justify-content-between">
            <h5>Mesa: {{ pedido.numero_mesa }}</h5>
            <h5>Pedido: {{ pedido.pk }}</h5>
        </div>
        <div class="card-body">
            {% if pedido.status %}<p class="card-title">Status: {{ pedido.status }} </p>{% endif %}
            
            {% for item in pedido.itens.all %}
                <p class="card-title">{{ item.quantidade }} | {{ item.item }} </p>
                {% if item.observacao %}
                <blockquote class="blockquote mb-0">
                    <footer class="blockquote-footer card-text-observacao">{{ item.observacao }}</footer>
                </blockquote>
                {% endif %}
            {% endfor %}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ pedido.criado_em }}</li>
            <li class="list-group-item">Total: R$ {{ pedido.valor_total|floatformat:"2" }}</li>
          </ul>
        <div class="card-footer d-flex justify-content-between">
            <p>
                <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ pedido.pk }}" aria-expanded="false" aria-controls="collapse-order">
                  Ações
                </button>
              </p>
              <div class="collapse" id="collapse-{{ pedido.pk }}">
                <div class="card card-body">
                    <a href="{% url 'pedido:editar_pedido' pedido.pk %}" class="btn btn-secondary m-1" role="button">Editar itens</a>
                    <a href="{% url 'pedido:editar_status' pedido.pk %}" class="btn btn-secondary m-1" role="button">Editar status</a>
                    <a href="{% url 'pedido:imprimir' pedido.pk %}" class="btn btn-secondary m-1" role="button" target="_blank">Imprimir</a>
                    <a href="{% url 'pedido:fechar_pedido' pedido.pk %}" class="btn btn-secondary m-1" role="button">Fechar pedido</a>
                </div>
              </div>
            
        </div>
    </div>
</div>