{% load static %}
<div class="col mx-auto p-2">
    <div class="card cartao-item-cardapio" style="width: 18rem;">
        {% if item.imagem %}
            <img class="card-img-top" src="{{ item.imagem.url }}" alt="Card image cap">
        {% else %}
            <img class="card-img-top" src="{% static 'assets/image-not-found.png' %}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
            <p class="card-title">{{ item.numero }}. {{ item.nome }}</p>
            <p class="card-subtitle">{{ item.descricao }}</p>
            <p class="card-text">R$ {{ item.preco_unitario|floatformat:"2" }}</p>
        </div>
    </div>
</div>