<footer class="main-footer footer mt-auto py-2 bg-dark text-white-50">
    <div class="container text-center">

        <div class="developer">
            <a class="text-decoration-none text-white-50" href="mailto:lucasbombardati@gmail.com" target="_blank"
                rel="noreferrer noopener">By
                Lucas Bombarda
                &copy;</a>
        </div>

        <div class="powered">
            <a class="text-decoration-none text-white-50" href="https://www.djangoproject.com/" target="_blank"
                rel="noreferrer noopener">Powered
                by Django</a>
        </div>
    </div>
</footer>