{% extends 'global/pages/base.html' %}

{% block title %}Cadastro de item{% endblock title %}

{% block header %}{% include 'cardapio/partials/header.html' %}{% endblock header %}

{% block navbar %}
{% include 'global/partials/navbar.html' %}
{% endblock navbar %}

{% block content %}

<h1>Cadastro de Item de cardápio</h1>

<form action="{% url 'cardapio:cardapio_criar' %}" method="post">
    {% csrf_token %}
    <div class="form-content">
        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{field.label}}</label>
                {{ field }}
            </div>  
        
        {% endfor %}
    
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
    </div>

</form>


{% endblock content %}