{% extends 'global/pages/base.html' %}

{% block title %}Cadastro de item{% endblock title %}

{% block header %}{% include 'cardapio/partials/header.html' %}{% endblock header %}

{% block navbar %}
{% include 'global/partials/navbar.html' %}
{% endblock navbar %}

{% block content %}
{% include 'global/partials/message.html' %}

<h2 class='text-center'>Cadastro de Item de cardápio</h2>

<form action="{% url 'cardapio:cardapio_criar' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3 campo-formulario">
        <label for="{{ field.id_for_label }}" class="form-label">{{field.label}}</label>
        {{ field }}
        {{ field.errors }}
    </div>

    {% endfor %}

    <div class="buttons-login-form pb-2">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a href="{% url 'painel:home' %}"><button type="button" class="btn btn-danger">Voltar</button></a>
    </div>

</form>


{% endblock content %}