{% extends 'global/pages/base.html' %}

{% block title %}Edição de item{% endblock title %}

{% block header %}{% include 'cardapio/partials/header.html' %}{% endblock header %}

{% block navbar %}
{% include 'global/partials/navbar.html' %}
{% endblock navbar %}

{% block content %}
{% include 'global/partials/message.html' %}

{% if itenscardapio %}
<h2 class='text-center'>Selecione o item para editar</h2>
{% endif %}
<div class="itens-editar">
    {% if itenscardapio %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Número</th>
                <th scope="col">Nome</th>
                <th scope="col">Categoria</th>
                <th scope="col">Valor</th>
                <th scope="col">Situação</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itenscardapio %}
            <tr>
                <td><a href="{% url 'cardapio:editar_item' item.id %}">{{ item.numero }}</a></td>
                <td><a href="{% url 'cardapio:editar_item' item.id %}">{{ item.nome }}</a></td>
                <td>{{ item.tipo }}</td>
                <td>{{ item.preco_unitario|floatformat:"2" }}</td>
                <td>{% if item.ativo %} Ativo {% else %} Inativo {% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <br>
    <h3>Não existem itens para editar. Crie um <a href="{% url 'cardapio:cardapio_cadastro' %}">clicando aqui.</a></h3>
    {% endif %}
</div>
{% endblock content %}