{% extends 'global/pages/base.html' %}

{% block title %}Cardápio{% endblock title %}

{% block header %} {% include 'cardapio/partials/header.html' %} {% endblock header %}

{% block content %}
{% for message in messages %}
    <div class="messages">
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    </div>
{% endfor %}

<div class="container row row-cols-auto">

    {% for item in itenscardapio %}
        {% include 'cardapio/partials/card_item_cardapio.html' %}
    {% empty %}
        <div class="container text-center p-2">
            <h2>Não há itens no cardápio...</h2>
        </div>
    {% endfor %}
</div>

{% endblock content %}