{% extends 'global/pages/base.html' %}

{% load static %}

{% block title %}Usuário sem permissão{% endblock title %}

{% block header %}

<header class="header bg-dark">
    <div class="main-header container mt-auto py-2 position-relative">
        
        <a href="{% url 'usuarios:logout' %}" class="user-login position-absolute top-50 start-0 translate-middle-y">
            <img src="{% static 'assets/user-logout.png' %}" alt="User Logout" style="max-width: 30px; max-height: 30px;">
        </a>
            
        <h1 class="text-center">
            <a class="main-logo text-decoration-none text-white-50" href="{% url 'painel:home' %}">
                <span class="main-logo-text">Sem permissão</span>
            </a>
        </h1>
    
    </div>
</header>

{% endblock header %}

{% block content %}

<div class="text-center">
<h1 class="p-5">Usuário "{{ request.user.username }}" sem permissão!</h1>
<a href="{% url 'painel:home' %}"><button type="button" class="btn btn-danger">Voltar</button></a>
</div>

{% endblock content %}